* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
* ##########
* ###############
* ####################
* EMAIL STYLES
* ####################
* ###############
* ##########
*/

.econtainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.econtainer .enav {
  height: 8vh;
  background-color: green;
  flex-shrink: 0
}

.email_wrapper {
  height: 90vh;
  display: flex;
  flex-direction: column;
}